//-----------------------------------
//   Modals
//-----------------------------------

.modal {
	.modal-dialog {
		.modal-content {
			position: relative;
			border: none;
			box-shadow: none;
			border-radius: 0;
			padding: 30px;
			.modal-close {
				position: absolute;
				top: -5px;
				right: -40px;
				width: 30px;
				height: 30px;
				border: none;
				cursor: pointer;
				outline: none;
				background: svg-load('../../images/svg/close.svg', fill=#fff) no-repeat center transparent;
				background-size: 20px;
			}
		}
	}
	&#modalSuccess {
		.modal-content {
			padding-top: 60px;
			padding-bottom: 60px;
			text-align: center;
			p {
				margin-bottom: 0;
			}
		}
	}
}


