//-----------------------------------
//   Fonts
//-----------------------------------

body.font_family_pt_sans {
	font-family: 'PT Sans', sans-serif;
}

body.font_family_pt_sans_narrow {
	font-family: 'PT Sans Narrow', sans-serif;
}

body.font_family_pt_serif {
	font-family: 'PT Serif', sans-serif;
}

body.font_family_open_sans {
	font-family: 'Open Sans', sans-serif;
}

body.font_family_open_sans_condensed {
	font-family: 'Open Sans Condensed', sans-serif;
}

body.font_family_roboto {
	font-family: 'Roboto', sans-serif;
}

body.font_family_roboto_condensed {
	font-family: 'Roboto Condensed', sans-serif;
}

body.font_family_roboto_slab {
	font-family: 'Roboto Slab', sans-serif;
}

body.font_family_montserrat {
	font-family: 'Montserrat', sans-serif;
}

body.font_family_oswald {
	font-family: 'Oswald', sans-serif;
}

body.font_family_ubuntu {
	font-family: 'Oswald', sans-serif;
}

body.font_family_playfair_display {
	font-family: 'Playfair Display', sans-serif;
}
